@import "tailwindcss";

@theme inline {
	--color-light: #fffbf0;
	--color-dark: #252417;
	--color-primary: #ffbf35;
	--color-secondary: #e9e4d7;
}

body {
	margin: 0;
	background: var(--color-light);
	color: var(--color-dark);
	font-family: var(--font-plus-jakarta-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-young-serif), serif;
}

button,
input,
textarea,
select {
	font: inherit;
}

.container {
	@apply mx-auto w-full px-4 sm:px-6;
	max-width: 1400px;
}

.section {
	@apply w-full;
	margin-top: clamp(3rem, 12vw, 12rem); /* 48px -> 96px */
}
.mx {
	@apply px-6 md:px-12 lg:px-20 xl:px-32; /* Adjust for screens */
}
